* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html,
body {
  height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

.navibar_logo img {
  height: 100px;
}

.navbar_logo_li {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1000;
}


.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nabar_li {
  display: inline-block;
}

.nabar_li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.nabar_li a:hover {
  color: #26107c;
}

.cover {
    display: flex;
    height: 80vh;
}

.cover-left,
.cover-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cover-left {
    background-image: url("./images/hariat_phone.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.body_text_1{
    font-size: 48px;
    color: #7356EB;
    font-weight: bold;
}

.cover-right {
    padding: 30px;
    text-align: center;
}

.cover_1 {
  margin-top: 50px;
  display: flex;
  height: 80vh;
}

.cover-left_1,
.cover-right_1 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cover-left_1 {
  padding: 30px;
  text-align: center;
}

.body_text_4{
  font-size: 48px;
  color: #36393F;
  font-weight: bold;
}

.body_text_5 {
  font-size: 24px;
  color: #555555;
}

.cover-right_1 {
  background-image: url("./images/hariat_phone_2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.cover_2 {
  margin-top: 50px;
  display: flex;
  height: 80vh;
}

.cover-left_2,
.cover-right_2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cover-left_2 {
  background-image: url("./images/hariat_phone_3.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.body_text_6{
  font-size: 48px;
  color: #36393F;
  font-weight: bold;
}

.body_text_7 {
  font-size: 24px;
  color: #555555;
}

.cover-right_2 {
  padding: 30px;
  text-align: center;
}


a:link, a:visited, a:hover, a:active
 {
    text-decoration: none;
    color: #7356EB;
}

footer {
  background-color: #36393F;
  padding: 2rem 0;
  color: #ffffff;
  position: relative;
  clear: both;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer_logo img {
  height: auto;
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
}


.links {
  margin-right: 200px;
  float: right;
}

.links li {
  list-style-type: none;
}

.customer-service {
  margin-right: 100px;
  float: right;
}

.customer-service li {
  list-style-type: none;
}


.navibar a {
    float: left;
    color: #7356EB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav-right {
    float: right;
  }

  .column {
    float: left;
    width: 20%;
    margin-bottom: 50px;
    padding: 0 8px;
    margin: 20px;
  }

  .card_wrapper {
    margin-left: 24.3%;
  }
  
  .card {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 1);
    color: #555555;
    transition: transform .2s; /* Animation */
  }
  
  .card:hover {
    transform: scale(1.15); /* 1.15 is the biggest you can go without overlapping with other cards */
  }
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  
  
  .our_story {
    color: #7356EB;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
  }

  .title_ourteam {
    color: #555555;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
  }

  .p_ourteam {
    color: #555555;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .button {
    border: none;
    outline: none;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #7356EB;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

    .row h2, p {
        text-align: center;
    }

    #wrap {
        min-height: 100%;
      }
      
      #main {
        overflow: auto;
        padding-bottom: 180px;
        /* must be same height as the footer */
      }

  
  .contactus_div h1 {
      margin-top: 50px;
      font-weight: 600;
      font-size: 72px;
      color: #555555;
      text-align: center;
  }
  
  .contactus_div h4 {
      font-weight: bold;
      font-size: 20px;
      color: #555555;
      line-height: 1.5;
  }
  
  /* ///// inputs /////*/
  
  input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
      font-size: 12px;
      color: #ffffff;
      top: -5px;
      -webkit-transition: all 0.225s ease;
      transition: all 0.225s ease;
  }
  
  .styled-input {
      float: left;
      width: 293px;
      margin: 16px 0;
      position: relative;
      border-radius: 4px;
  }
  
  @media only screen and (max-width: 768px){
      .styled-input {
          width:100%;
      }
  }
  
  .styled-input label {
      color: #ffffff;
      padding: 20.8px 30px 16px 30px;
      position: absolute;
      top: 10px;
      left: 0;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      pointer-events: none;
  }
  
  .styled-input.wide { 
      width: 650px;
      max-width: 100%;
  }
  
  input,
  textarea {
      padding: 30px;
      border: 0;
      width: 100%;
      font-size: 16px;
      background-color: #7356EB;
      color: white;
      border-radius: 4px;
  }
  
  input:focus,
  textarea:focus { outline: 0; }
  
  input:focus ~ span,
  textarea:focus ~ span {
      width: 100%;
      -webkit-transition: all 0.075s ease;
      transition: all 0.075s ease;
  }
  
  textarea {
      width: 100%;
      min-height: 240px;
  }
  
  .input-container {
      width: 650px;
      max-width: 100%;
      margin: 20px auto 25px auto;
  }
  
  .submit-btn {
      float: right;
      padding: 7px 35px;
      border-radius: 60px;
      background-color: #4b8cfb;
      color: white;
      font-size: 18px;
      cursor: pointer;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
                0 2px 10px 0 rgba(0,0,0,0.07);
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease;
  }
  
  .submit-btn:hover {
      transform: translateY(1px);
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
                0 1px 1px 0 rgba(0,0,0,0.09);
  }
  
  input[type=checkbox] + label {
    color: #ffffff;
    font-style: italic;
  } 

.about_cover_1 {
  margin-top: 30px;
    display: flex;
    height: 50vh;
}

.about_cover-left_1,
.about_cover-right_1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_cover-right_1 {
    background-image: url("./images/man_with_an_idea.png");
    background-size: 600px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.about_cover-left_1 {
  padding: 20px;
  text-align: center;
}

.about_cover_2 {
  display: flex;
  height: 50vh;
}

.about_cover-left_2,
.about_cover-right_2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about_cover-right_2 {
  padding: 20px;
  text-align: center;
}

.about_cover-left_2 {
  background-image: url("./images/what_we_do.jpg");
  background-size: 400px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.about_cover_3 {
  display: flex;
  height: 50vh;
}

.about_cover-left_3,
.about_cover-right_3 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about_cover-right_3 {
  background-image: url("./images/confusedGirl.png");
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.about_cover-left_3 {
  padding: 20px;
  text-align: center;
}

.body_text {
  font-size: 48px;
  /* color: #7356EB;
  font-weight: bold; */
  background: #7D5DFF;
  background: linear-gradient(to right, #7D5DFF 0%, #271D4F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.body_text_1{
    font-size: 48px;
    color: #555555;
    font-weight: bold;
}

.body_text_2 {
  font-size: 24px;
  color: #555555;
}

.loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
}

.loading-image {
  height: 200px;
  animation: beat .50s infinite alternate;
	transform-origin: center;
  position: absolute;
  top: 300px;
  left: 850px;
  z-index: 100;
}

@keyframes beat{
	to { transform: scale(1.4); }
}

@media only screen and (max-width: 767px) {
  .loading-image {
    height: 100px;
    animation: beat .50s infinite alternate;
    transform-origin: center;
    position: absolute;
    top: 300px;
    left: 200px;
    z-index: 100;
  }
}

/* Media queries for mobile devices */
@media only screen and (max-width: 767px) {
  
  .cover {
    height: 60vh;
    flex-direction: column;
  }
  
  .cover-left {
    height: 50%;
    background-size: 300px;
  }
  
  .cover-right {
    height: 50%;
    padding: 10px;
  }

  .cover_1 {
    margin-top: 120px;
    height: 70vh;
    flex-direction: column;
  }
  
  .cover-left_1 {
    height: 30%;
    background-size: 300px;
  }
  
  .cover-right_1 {
    height: 50%;
    padding: 10px;
  }

  .cover_2 {
    margin-top: 120px;
    height: 80vh;
    flex-direction: column-reverse; /* Reverse the order of the elements */
  }
  
  .cover-left_2 {
    height: 50%;
    padding: 10px;
  }
  
  .cover-right_2 {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 30%;
    background-size: 300px;
  }
  
  .about_cover_1,
  .about_cover_2,
  .about_cover_3 {
    height: 60vh;
  }
  
  .about_cover-right_1 {
    background-size: 300px;
  }
  
  .about_cover-left_2 {
    background-size: 300px;
  }

  .about_cover-right_3 {
    background-size: 200px;
  }
  
  .body_text_1{
    font-size: 28px;
  }
  
  .body_text_2 {
    font-size: 16px;
  }
  
  .column {
    width: 100%;
    margin: 0;
  }
  
  .card_wrapper {
    margin-left: 0;
  }

  .card:hover {
    transform: scale(1.03); /* 1.03 is the biggest you can go without overlapping with other cards */
  }
  
  .input-container {
    width: 100%;
  }
}

/* Media query for smaller screen sizes */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nabar_li {
    display: block;
    margin: 0.5em 0;
  }

  .navbar_logo_li {
    position: static;
    transform: none;
    margin-bottom: 0.5em;
  }
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .styled-input {
      width:100%;
  }

  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .cover {
    height: 60vh;
  }
  
  .about_cover_1,
  .about_cover_2,
  .about_cover_3 {
    height: 60vh;
  }
  
  .about_cover-right_1 {
    background-size: 500px;
  }
  
  .about_cover-left_2 {
    background-size: 500px;
  }
  
  .body_text_1{
    font-size: 36px;
  }
  
  .body_text_2 {
    font-size: 20px;
  }
}

/* Media queries for mobile devices */
@media only screen and (max-width: 767px) {
  
  .cover {
    height: 50vh;
    flex-direction: column;
  }
  
  .cover-left {
    height: 50%;
    background-size: 300px;
  }
  
  .cover-right {
    height: 50%;
    padding: 10px;
  }
  
  .about_cover_1,
  .about_cover_2,
  .about_cover_3 {
    height: 40vh;
  }
  
  .about_cover-right_1 {
    background-size: 300px;
  }
  
  .about_cover-left_2 {
    background-size: 300px;
  }
  
  .body_text_1{
    font-size: 28px;
  }
  
  .body_text_2 {
    font-size: 16px;
  }
  
  .column {
    width: 100%;
    margin: 0 0 20px 0;
  }
  
  .card_wrapper {
    margin-left: 0;
  }
  
  .input-container {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer_logo img {
    max-width: 50%;
    margin-bottom: 1rem;
  }

  .links,
  .customer-service {
    margin-right: 0;
    margin-bottom: 1rem;
    float: none;
  }
}

.footer-container::after {
  content: "";
  display: table;
  clear: both;
}